html{
    scroll-behavior: smooth;
}

body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

figure {
    padding: 5px;
    background-color: blue;
    border-radius: 0;
}

img{
    border: none;
    border-radius: 30px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
figcaption{
    text-align: center;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; 
}

@media screen and (min-width: 772px) {
    
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid > figure {
        position: relative;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
    }

    .grid > figure img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (prefers-color-scheme: dark) {
    
    .grid > figure {
        background-color: #000000;
        color: #f0d020;
    }
    
    figure {
        background-color: black;
    }
    
}
    .grid > figure figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: blue;
        padding:8px;
        margin: 0;
        font-size: 0.5em;
    }
    
    .grid > figure:last-child {
        grid-column: span 2;
    }
    
}


@media screen and (min-width: 992px) {
    
    .grid > figure {
        border-radius: 0;
    }

    .grid > figure img{
        border-radius: 0;
    }


    .grid > figure:nth-child(3n) {
        grid-column: span 2;
    }
    
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark) {
    
    .grid > figure {
        background-color: #000000;
        color: #f0d020;
    }

    .grid > figure figcaption {
        background-color: #000000;
        color: rgb(255, 225, 137);
    }
    
    figure {
        background-color: black;
    }
    
}


